name: Build and Deploy Hexo 8

on:
  push:
    branches:
      - sources

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Node 18 for Hexo 8
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Clean old deps
        run: |
          rm -rf node_modules package-lock.json

      - name: Install deps with override
        run: |
          npm install

      - name: Build site
        run: |
          npx hexo clean
          npx hexo generate

      - name: Deploy
        run: |
          cd public
          git init
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "deploy"
          git branch -M main
          git remote add origin https://losehu:${{ secrets.GH_TOKEN }}@github.com/losehu/DATASETS_PAGE.git
          git push -u origin main --force
