name: Build and Deploy Hexo

on:
  push:
    branches:
      - sources

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Clean environment
        run: |
          rm -rf node_modules package-lock.json

      - name: Install dependencies
        run: |
          npm install   # 这里会重新生成正确的 node_modules

      - name: Build Hexo 8 site
        run: |
          npx hexo clean
          npx hexo generate

      - name: Deploy to GitHub Pages
        run: |
          cd public
          git init
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "deploy"
          git branch -M main
          git remote add origin https://losehu:${{ secrets.GH_TOKEN }}@github.com/losehu/DATASETS_PAGE.git
          git push -u origin main --force
